<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Grow Your Buisness With Us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text" id="round">
                        <figure>
                             <img src="images/aboutus1.jpg
                             " alt="hero-section-img">
                        </figure>
                           
                    </div>
                    
                {{!-- right side  --}}
                    <div class="col-md-6 col-12 hero-text  d-flex justify-content-centeralign-items-start flex-column" >
                        <h1>WE ARE FUTURE READY </h1>
                        <p>
                            Welcome to <span class="bold-style">
                                GO - GET ONLINE WITH US
                            </span>
                            Page.We are dedicated to give you the best combination of Immersive Experience with Best in class Customer Service.

                        </p>
                        <button class="btn-style btn-primary" onclick="/about.hbs">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>