<div class="container-fluid mt-5 about-style" id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Contact Us</h1>
                <p class="text-center sub-heading">Feel Free to Contact</p>

                <div class="row">
                    <div class="col-md-6 col-12 mx-auto mb-0">
                        <form action="/contact" method="POST">
                            <div class="form-group">
                                <label for="exampleinputpassword1">Name</label>
                                <input type="text" class="form-control" id="exampleinputpassword1" placeholder="Full Name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="exampleinputEmail1">Email Address</label>
                                <input type="email" class="form-control" id="exampleinputEmail1" placeholder="Enter youe E-Mail Id" name="mail">
                                <small id="emailHelp" class="form-text text-muted">Your Email is Safe with us.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Phone</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone Number" name="phone" >

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your Message" name="Message" >

                            </div>
                            <button type="submit" class="btn-style btn-primary">Submit</button>
                            

                        </form>
                    </div>
                </div>
</div>
</div>
</div>
