<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid mt-5 footer-style" id="footerid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
			<section class="main-content">
    </section>
    <footer>
        <section class="sec-1">
        <section class="about">
            <h2>
                About
                <p>We are a team of professionals that makes your presenece on the web . We provide you the excellent service quality with least downtimes on the internet . We are with you if you need any help what so ever and we promise to be with you in case of any help or assistance needed . Hit us on the Contact Section and we will get back to you as soon as possible.</p>
            </h2>
        </section>
        {{!-- <section class="link1">
            <h2>Categories</h2>
            <ul>
                <li><a href="#">C</a></li>
                <li><a href="#">UI Design</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Android </a></li>
            </ul>
        </section> --}}
        <section class="link2">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="#contactid">Conatct us</a></li>
                <li><a href="#serviceid">Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </section>
        <section class="link3">
            <h2>Contact Us</h2>
            <ul>
                <li><i class="fa fa-home"> <span>GLA University, Mathura</span></i></li>
                <li><i class="fa fa-envelope"> <span>glauniversity@gla.ac.in</span></i></li>
                <li><i class="fa fa-phone-square"> <span>+91-8171568270</span></i></li>
                <li><i class="fa fa-facebook-official"> <a href="https://www.facebook.com/glauniv/">GLA University</a></i></li>
            </ul>
        </section>
    </section>
    {{!-- <hr width="100%" noshade>
        <section class="sec-2">
            <p>Register for Free</p>
            <a href="#">signup!</a>
        </section> --}}
    {{!-- <hr width="100%" noshade>
        <section class="sec-3">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </section> --}}
        <section class="sec-4">
            <p>
                Copyright &copy; Made by Shubh Mishra
                <a href="https://www.gla.ac.in/">GLA  University</a>
            </p>
        </section>
    </footer>

                    
                </div>
            </div>
        </div>
    </div>