
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid mt-5 footer-style sep_about" id="sep_service">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="pt-5 pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="section-head col-sm-12">
                                <h4><span>Why Choose </span> Us?</h4>
                                <p>We provide you all in one and one of the best solutions to onboard you on the internet . We provide you best in class services. <b>GO Services - Get Online With Us</b></p>

                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="item">
                                    <span class="icon feature_box_col_one">
                                        <i class="fa fa-globe text-danger" aria-hidden="true"></i>
                                    </span>
                                    <h4>Ease To Start</h4>
                                    <p>Get Online with Us Eaisly. Just DM us "Start"</p>
                                </div>

                            </div>


                            <div class="col-lg-4 col-sm-6">
                                <div class="item">
                                    <span class="icon feature_box_col_two">
                                        <i class="fa fa-anchor text-danger" aria-hidden="true"></i>
                                    </span>
                                    <h4>Creative Design</h4>
                                    <p>Get design of your taste and type.</p>
                                </div>


                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="item">
                                    <span class="icon feature_box_col_three">
                                        <i class="fa fa-database text-danger" aria-hidden="true"></i>
                                    </span>
                                    <h4>Database</h4>
                                    <p>Well connected Website with Datbase of your choice</p>
                                </div>

                            </div>


                            <div class="col-lg-4 col-sm-6">
                                <div class="item">
                                    <span class="icon feature_box_col_four">
                                        <i class="fa fa-hourglass-half text-danger" aria-hidden="true"></i>
                                    </span>
                                    <h4>Less Load Time</h4>
                                    <p>We will get you an excellent piece that client can access with a snap of his finger</p>
                                </div>

                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="item">
                                    <span class="icon feature_box_col_five">
                                        <i class="fa fa-thumbs-up text-danger" aria-hidden="true"></i>
                                    </span>
                                    <h4>Online Marketing</h4>
                                    <p>We also assist you with the marketing techniques online</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="item">
                                    <span class="icon feature_box_col_six">
                                        <i class="fa fa-shield text-danger" aria-hidden="true"></i>
                                    </span>
                                    <h4>Security</h4>
                                    <p>We provide reliable security protocols followed.</p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
               
            </div>
        </div>
</div>