<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<div class="container-fluid mt-5 footer-style sep_about" id="sep_about">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <section class="breadcrumps-section">
				   <div class="container p-1 p-sm-3 text-primary head display-4">
					   <div class="row">
						   <div class="col-12">
							   <h2>About Us</h2>
						   </div>

					   </div>
				   </div>
			   </section>

			   <section class="about-company-section">
				   <div class="row">
            		<div class="col-md-10 col-12 mx-auto">
               		<section class="breadcrumps-section">
				   <div class="container p-1 p-sm-3">
					   <div class="row">
						   <div class="col-12 text-center">
							   <h2 style="margin-bottom: 20px;">Goals of the Company</h2>
							   {{!-- <hr> --}}
							   
						   </div>
						   <div class="col-md-4" id="goal_img">
							   <img class="img-thumbnail" src="/images/sep_about_1.jpg" >
							   {{!-- <hr> --}}

						   </div>
						   <div class="col-md-8">
							   <p style="font-size:20px;">
								   We goal to provide each and every person , who operates a small shop say a sweet shop or a sports item shop , have their presence online 24x7 to their customers so that it can ease their enquires coming through phone redirecting it to the website
							   </p>

						   </div>


					   </div>
				   </div>


			   </section>


			   

			   
     <section class="pt-3 pb-4">
      <div class="container">
          <div class="row mt-4">
            <div class="col text-center">
              <h3>
                Our awesome team
              </h3>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="img-fluid qualities-img p-4" src="images/CEO.png">
              <h5 >
                Chairperson
              </h5>
              <p style="font-weight: 900;">
                 Shubh Mishra
              </p>
    
            </div>
            <div class="col-md-4 text-center">
              <img class="img-fluid qualities-img p-4" src="images/senior-analyst.png">
              <h5>
                Senior Manager
              </h5>
              <p style="font-weight: 900;">
                 Sachin Sharma
              </p>
    
            </div>
            <div class="col-md-4 text-center">
                
                <img class="img-fluid qualities-img p-4" src="images/hr.png">
                <h5>
                  CTO
                </h5>
                <p style="font-weight: 900;">
     				Neha Yadav
                </p>
            </div>
          </div>
    
            
            
          </div>
  </section>
			

            </div>
        </div>
</div>